@import "./var";
#about {
  position: relative;
  top: 60px;
  height: calc(100vh - 60px);
  background-color: var(--secondBg-color);
  color: var(--text-color);
  .image {
    position: relative;
    img {
      @include circle(200px);
      filter: drop-shadow(0px 0px 20px var(--product-color));
      box-shadow: 0 0 5px var(--product-color), 0 0 15px var(--product-color);
      @include mediaMax(250px) {
        @include circle(150px);
      }
    }
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      @include circle(100%);
      z-index: 1;
      opacity: 0.2;
      background-color: var(--product-color);
    }
  }
  p {
    margin-left: 10px;
    margin-right: 10px;
    @include mediaMin(600px) {
      width: 80%;
    }
  }
  .cv {
    // background-color: var(--product-color);
    box-shadow: 0 0 22px var(--product-color);
    transition: 0.5s;
    display: block;
    position: relative;
    overflow: hidden;
    z-index: 1;
    &::before {
      content: "";
      position: absolute;
      width: 0%;
      height: 0%;
      border-radius: 50%;
      transform: translate(-50%, -50%);
      top: var(--y);
      left: var(--x);
      z-index: -1;
      transition: width 1s, height 1s;
      background-color: var(--product-color);
    }
    &:hover::before {
      height: 300px;
      width: 300px;
    }

    &:hover {
      // transform: scale(1.1);
    }
  }
}
