@import "./var";
.home {
  position: relative;
  top: 60px;
  height: calc(100vh - 60px);
  > .infoAndImg {
    height: 100%;
    .info {
      @include mediaMax(767px) {
        text-align: center;
      }
      h1 {
        font: {
          size: 2.5rem;
          weight: bold;
        }
        @include mediaMax(840px) {
          font-size: 2rem;
        }
      }
      h3 {
      }
      p {
      }
      a {
        // background-color: var(--product-color);
        box-shadow: 0 0 22px var(--product-color);
        transition: 0.5s;
        display: inline-block;
        position: relative;
        overflow: hidden;
        z-index: 1;
        &::before {
          content: "";
          position: absolute;
          width: 0%;
          height: 0%;
          border-radius: 50%;
          transform: translate(-50%, -50%);
          top: var(--y);
          left: var(--x);
          transition: width 1s, height 1s;
          background-color: var(--product-color);
          z-index: -1;
        }
        &:hover::before {
          height: 300px;
          width: 300px;
          // transform: scale(1.1);
        }

        &:hover {
        }
      }
      span:last-child {
        color: var() !important;
      }
    }
    > .image {
      height: 75%;
      position: relative;
      img {
        width: 300px;
        @include mediaMax(991px) {
          width: 250px;
        }
        height: 100%;
        filter: drop-shadow(0px 0px 20px var(--product-color));
        box-shadow: 0 0 5px var(--product-color), 0 0 15px var(--product-color);
        border-radius: 2%;
      }
      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        opacity: 0.2;
        background-color: var(--product-color);
      }
    }
  }
}
